<div ng-controller="HomeCtrl as ctrl">
	<div class="p-t-lg">
		<div class="p-t-1">
			<!-- <img src="assets/images/header/watson-header-top.svg" alt="where-am-i" class="top-page-pic"> -->
			<div class="text-center p-t-md p-b-sm">
				<h1 class="txt-riley-blue _300">Where am I on my
					<span class="_500">Watson Fellowship</span>?</h1>
				<!-- <h0 class="p-b-sm _300">Ho Chi Minh City</h0> -->
				<h2 class="_500">
					<!-- http://hjnilsson.github.io/country-flags/ -->
					<img src="https://cdn.rawgit.com/hjnilsson/country-flags/master/svg/vn.svg" alt="flag" class="home-flag">Vietnam
					<img src="https://cdn.rawgit.com/hjnilsson/country-flags/master/svg/vn.svg" alt="flag" class="home-flag">
				</h2>
			</div>
			<div class="header-stripes-border txt-riley-accent">&nbsp;</div>
			<div class="header-stripes-border txt-riley-blue">&nbsp;</div>
			<div class="header-stripes-border txt-riley-main">&nbsp;</div>
		</div>



		<div class="container" style="margin-top:1.1rem">

			<div class="col-lg-3 col-md-1"></div>
			<div class="col-lg-6 col-md-10">
				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main">
							<h4 class="text-center">I'll be abroad until July 2018 for my Thomas J. Watson Fellowship.</h4>
							<div class="col-sm-6 text-center">
								<btn class="btn btn-xs bg-riley-main" ui-sref="watson.landing" ng-click="globalCtrl.topOfPage();">
									What's that?
								</btn>
							</div>
							<div class="col-sm-6 text-center">
								<btn class="btn btn-xs bg-riley-main" ui-scroll-to="schedule">
									Where will you be?
								</btn>
							</div>
							<img ui-sref="watson.landing" ng-click="globalCtrl.topOfPage();" src="assets/images/maps/current.png" alt="watson-map" class="top-page-pic p-t-sm p-b-sm">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main" type="submit" onclick="window.open('/assets/pdfs/Konsella_SeniorProjectReport_FINAL.pdf')"
						 onmouseover="" style="cursor: pointer;">
							<img ng-src="assets/images/tensegrity.jpg" alt="tensegrity" class="img-circle">
							<h4 class="text-center p-t-sm">This was my senior research project at Union College.</h4>
							<p class="_300 p-a-0 m-a-0 text-center">
								Click here to see my report about the electronics I built for a soft robot called a tensegrity.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main">
							<h4 class="text-center">Here's a random tweet I really like.</h4>
							<div class="top-page-pic">
								<div ng-bind-html="ctrl.tweet | trust"></div>
							</div>
							<p class="_300 text-center p-a-0 m-a-0">
								Refresh for a different random tweet!
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main text-center">
							<div class="row-col">
								<!--  jpeg-optimizer.com, resize to 240px, 65% quality      -->
								<div class="col-xs-4 p-a-0">
									<a href="https://www.youtube.com/watch?v=j_o2PrJpk_c" target="_blank">
									<img ng-src="assets/images/albums/isolation.jpg" alt="isolation" class="top-page-pic">
									<!-- </a> -->
								</div>
								<div class="col-xs-4 p-a-0">
									<a href="https://www.youtube.com/watch?v=bYXM3uz1bjM" target="_blank">
									<img ng-src="assets/images/albums/itcbyma.jpg" alt="james blake" class="top-page-pic">
									<!-- </a> -->
								</div>
								<div class="col-xs-4 p-a-0">
									<a href="https://www.youtube.com/watch?v=tmozGmGoJuw" target="_blank">
									<img ng-src="assets/images/albums/lda.jpg" alt="little dark age" class="top-page-pic">
									<!-- </a> -->
								</div>
							</div>
							<h4 class="p-t-sm">Here's the music I'm listening to right now.</h4>
							<p class="_300 text-center m-a-0 p-a-0">
								Click on a cover to hear my favorite song from the album.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main text-center">
							<h4 class="_500">I'm posting pictures on my Instagram account while abroad. Go toss me a like!</h4>

							<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BdILicCngCk/"
							 data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
								<div style="padding:8px;">
									<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
										<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
									</div>
									<p style=" margin:8px 0 0 0; padding:0 4px;">
										<a href="https://www.instagram.com/p/BdILicCngCk/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
										 target="_blank">SEAsons greetings my dudes. Ho ho ho.</a>
									</p>
									<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by
										<a href="https://www.instagram.com/rileykonsella/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;"
										 target="_blank"> Riley Konsella</a> (@rileykonsella) on
										<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
										 datetime="2017-12-25T14:01:25+00:00">Dec 25, 2017 at 6:01am PST</time>
									</p>
								</div>
							</blockquote>
							<script async defer src="//www.instagram.com/embed.js"></script>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main text-center" id="schedule">
							<img ng-src="assets/images/indog.jpg" alt="indie" class="img-circle">
							<h4 class="">Also. This is my dog, Indie.</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="outer-box">
						<div class="home-box txt-riley-main text-center">
							<div class="block clearfix">
								<div class="col-xs-6">
									<h4 class="_300">Contact me</h4>
									<a class="btn btn-icon btn-social btn-sq m-x-sm" ui-sref="contact">
										<i class="fa fa-envelope"></i>
										<i class="fa fa-envelope bg-riley-main"></i>
									</a>
								</div>
								<div class="col-xs-6">
									<h4 class="_300">Résumé</h4>
									<a class="btn btn-icon btn-social btn-sq m-x-sm" type="submit" onclick="window.open('/assets/pdfs/konsella-resume.pdf')"
									 onmouseover="">
										<i class="fa fa-file-text"></i>
										<i class="fa fa-file-text bg-riley-main"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-1"></div>
		</div>
		<div class="m-y-lg">
		</div>
	</div>
</div>
