<ul class="nav navbar-nav dropdown nav-active-border top bg-riley-main border-riley-green pull-right m-r-lg">
	<li class="nav-item">
		<a class="nav-link" ui-sref="home" ng-click="globalCtrl.topOfPage();">
                  <span class="nav-text">Home</span> 
                </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" ui-sref="about" ng-click="globalCtrl.topOfPage();">
                  <span class="nav-text">About</span> 
                </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" ui-sref="watson.landing" ng-click="globalCtrl.topOfPage();">
                  <span class="nav-text">Watson</span> 
                </a>
	</li>
	<!--  <li class="nav-item">
                <a class="nav-link" ui-sref="projects">
                  <span class="nav-text">Projects</span> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="opinions">
                  <span class="nav-text">Very Correct&trade; Opinions</span> 
                </a>
              </li> -->
</ul>