<p class="text-muted m-a-0 p-a-0" id="schedule">
	Below is schedule of country visits over my Watson year. When a box is fully colored, click on the box to read my summary
	of my visit to that country. The <span class="p-highlight _600 text-unmuted bg-riley-blue">light blue</span> countries
	are my "official" Watson countries, and the ones colored <span class="p-highlight _600 text-unmuted bg-riley-accent">purple</span>	are other places I was lucky enough to visit.
</p>

<div class="row-col">
	<a ui-sref="watson.germany" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="other-country-after p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Jul 14</span>
			</div>
			<h3 class="col-xs-6 no-height">Germany</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Jul 21</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Jul 21</span>
			</div>
			<h3 class="col-xs-6 no-height">Denmark</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Aug 9</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="other-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Aug 9</span>
			</div>
			<h3 class="col-xs-6 no-height">Sweden</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Aug 19</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Aug 19</span>
			</div>
			<h3 class="col-xs-6 no-height">Netherlands</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Sep 5</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Sep 5</span>
			</div>
			<h3 class="col-xs-6 no-height">Slovenia</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Sep 15</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="other-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Sep 15</span>
			</div>
			<h3 class="col-xs-6 no-height">Greece</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Sep 19</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Sep 19</span>
			</div>
			<h3 class="col-xs-6 no-height">Rwanda</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Nov 9</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="other-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Nov 9</span>
			</div>
			<h3 class="col-xs-6 no-height">TBD</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Dec 1</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">Dec 1</span>
			</div>
			<h3 class="col-xs-6 no-height">Singapore</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">TBD</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">TBD</span>
			</div>
			<h3 class="col-xs-6 no-height">Vietnam</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">TBD</span>
			</div>
		</div>
	</a>
	<a ui-sref="watson.landing" ng-click="globalCtrl.refreshPage();globalCtrl.topOfPage();">
		<div class="watson-country-before p-a-md m-y-md">
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">TBD</span>
			</div>
			<h3 class="col-xs-6 no-height">Brazil</h3>
			<div class="text-muted text-md col-xs-3 no-height">
				<span class="hidden-xs-down">TBD</span>
			</div>
		</div>
	</a>
</div>